.autocomplete ul li a span.title {
    font-size: .8706em;
    vertical-align: middle;
}

.autocomplete ul li a span.name {

    font-size: .8706em;
    vertical-align: middle;
    color:  #646464;
    font-weight: bold;
    margin-left: 3px;

}

.autocomplete ul li a span.username {

    color:  #646464;
    vertical-align: middle;
    font-size: .8706em;

}

.autocomplete ul li a span.title {
    vertical-align: middle;
}

.autocomplete {
    width: inherit;   
}
